<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>勤而科技</title>
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <![endif]-->
    <meta name="renderer" content="webkit">
    <meta name="data-spm" content="a3140.7858860">
    <meta name="description" content="钉钉是阿里集团专为中小企业打造的通讯、协同的移动办公平台，帮助企业内部沟通和商务沟通更加高效安全。特色支持：消息阅读状态一目了然，重要事DING电话使命必达，紧急事免费电话多方通话，企业通讯录随时随地找人，多端互动。">
    <meta name="keywords" content="阿里钉钉，企业即时通讯软件，移动办公，免费电话多方通话，免费电话会议">
    <link rel="icon" id="favicon" type="image/x-icon" href="//g.alicdn.com/dingding/web/0.2.6/img/oldIcon.ico">
    <link rel="stylesheet" href="http://g.alicdn.com/dingding/home-resources/0.1.4/index.css">
    <!--  <link rel="stylesheet" href="http://g-assets.daily.taobao.net/dingding/home-resources/0.1.4/index.css"> -->
</head>

<body><script>
with(document)with(body)with(insertBefore(createElement("script"),firstChild))setAttribute("exparams","category=&userid=&aplus&yunid=&asid=AACFCKFW0RF1LkYUCIg=",id="tb-beacon-aplus",src=(location>"https"?"//s":"//a")+".tbcdn.cn/s/aplus_v2.js")
</script>

    <div id="wrap">
        <div class="navbar-default navbar-fixed-top nav_block animated" data-spm="1998832757">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img src="http://gtms04.alicdn.com/tps/i4/TB1FyKELXXXXXcOaXXXqHjILFXX-256-130.jpg" class="logo" alt="钉钉logo">
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">首页<span class="sr-only">(current)</span></a></li>
                        <li><a href="#download_block">下载</a></li>
                        <li>
                            <a href="http://s.dingtalk.com/market/dingtalk/home/function_index.php?spm=a3140.7858860.1998832757.2.BOoQzm" target="_blank">功能</a></li>
                        <li>
                            <a href="http://s.dingtalk.com/market/dingtalk/home/case_index.php?spm=a3140.7858860.1998832757.3.BOoQzm" target="_blank">行业案例</a></li>
                        <li><a href="http://open.dingtalk.com/?spm=a3140.7858860.1998832757.4.BOoQzm" target="_blank">开放平台</a></li>
                        <li><a href="https://im.dingtalk.com/?spm=a3140.7858860.1998832757.10.BOoQzm" target="_blank">网页版登录</a></li>
                        <li>
                            <a href="http://s.dingtalk.com/market/dingtalk/home/help_index.php?spm=a3140.7858860.1998832757.5.BOoQzm" target="_blank">帮助中心</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://oa.dingtalk.com/register.html?spm=a3140.7858860.1998832757.7.BOoQzm" target="_blank" class="btn signup">企业注册</a></li>
                        <li><a href="https://oa.dingtalk.com/?spm=a3140.7858860.1998832757.8.BOoQzm#/login" target="_blank" class="btn login">企业登录</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="top section">
            <div class="news">
                <div class="runBox">
                    <div class="marqueeStyle">
                        <marquee scrollamount="7" scrolldelay="100" direction="left" id="newList"></marquee>
                    </div>
                </div>
            </div>
            <div class="banner" data-spm="1998832762">
                <div class="swiper-wrapper">
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination pagination1"></div>
                <!-- Add Arrows -->
                <div class="control bannernext"></div>
                <div class="control bannerprev"></div>
            </div>
            <div class="looks_block" data-spm="1998832791">
                <div class="container">
                    <div class="content">
                        <div class="span2">
                            <a class="thumbnail" href="http://s.dingtalk.com/market/dingtalk/home/guide.php?newsid=101" target="_blank">
                                <img src="http://gtms03.alicdn.com/tps/i3/TB1iEqKKFXXXXaRXFXXqxFJVFXX-100-100.png" alt="">
                                <div class="caption">
                                    <h3>我是老板</h3>
                                    <p>我想知道为什么选择钉钉</p>
                                </div>
                            </a>
                        </div>
                        <div class="span2">
                            <a class="thumbnail" href="http://s.dingtalk.com/market/dingtalk/home/guide.php?newsid=102" target="_blank">
                                <img src="http://gtms04.alicdn.com/tps/i4/TB1CjS3KFXXXXaXXXXXqxFJVFXX-100-100.png" alt="">
                                <div class="caption">
                                    <h3>我是管理员</h3>
                                    <p>我想知道如何轻松管理</p>
                                </div>
                            </a>
                        </div>
                        <div class="span2">
                            <a class="thumbnail" href="http://s.dingtalk.com/market/dingtalk/home/guide.php?newsid=103" target="_blank">
                                <img src="http://gtms01.alicdn.com/tps/i1/TB1FySBKFXXXXaBXVXXqxFJVFXX-100-100.png" alt="">
                                <div class="caption">
                                    <h3>我是员工</h3>
                                    <p>我想学习如何提升工作效率</p>
                                </div>
                            </a>
                        </div>
                        <div class="span2">
                            <a class="thumbnail mask">
                                <img src="http://gtms02.alicdn.com/tps/i2/TB19nKDKFXXXXXxXVXXqxFJVFXX-100-100.png" alt="">
                                <div class="caption">
                                    <h3>共创企业</h3>
                                    <p>钉钉共创企业使用心得</p>
                                </div>
                            </a>
                        </div>
                        <div class="span2">
                            <a class="thumbnail" href="http://s.dingtalk.com/market/dingtalk/home/guide.php?newsid=104" target="_blank">
                                <img src="http://gtms03.alicdn.com/tps/i3/TB13bqFKFXXXXXzXVXXqxFJVFXX-100-100.png" alt="">
                                <div class="caption">
                                    <h3>新手入门</h3>
                                    <p>玩转钉钉省时省力又省心</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="down">
                <img src="http://gtms01.alicdn.com/tps/i1/TB1udOHKFXXXXaFXFXXtYCwFXXX-15-14.gif" alt="">
            </div>
        </div>
        <div class="section function_block" data-spm="1998832792">
            <div class="container">
                <h1 class="title">钉钉为企业量身打造统一办公通讯平台</h1>
                <h3 class="subtitle">在云和移动时代，钉钉成为一个工作方式</h3>
                <div class="content">
                    <div class="col-xs-6 left">
                        <div class="phone"></div>
                        <div class="app">
                            <div class="function top">
                                <div class="dingimg ding_ding">
                                    <img src="http://gtms03.alicdn.com/tps/i3/TB1HijoKpXXXXaHXVXXLIffVVXX-640-1136.png" alt="" />
                                    <img src="http://gtms04.alicdn.com/tps/i4/TB15OfDKpXXXXXbXpXXLIffVVXX-640-1136.png" alt="" />
                                    <img src="http://gtms01.alicdn.com/tps/i1/TB1iaYnKpXXXXbPXVXXLIffVVXX-640-1136.png" alt="" />
                                    <img src="http://gtms02.alicdn.com/tps/i2/TB180vuKpXXXXbdXFXXLIffVVXX-640-1136.png" alt="" />
                                    <img src="http://gtms03.alicdn.com/tps/i3/TB1lIbBKpXXXXa3XpXXLIffVVXX-640-1136.png" alt="" />
                                    <img src="http://gtms04.alicdn.com/tps/i4/TB19njyKpXXXXb5XpXXLIffVVXX-640-1136.png" alt="" />
                                    <img src="http://gtms01.alicdn.com/tps/i1/TB1NEPDKpXXXXXiXpXXLIffVVXX-640-1136.png" alt="" />
                                    <img src="http://gtms02.alicdn.com/tps/i2/TB1nkjcKpXXXXc8aXXXLIffVVXX-640-1136.png" alt="" />
                                    <img src="http://gtms03.alicdn.com/tps/i3/TB1Hy2lKpXXXXbEXVXXLIffVVXX-640-1136.png" alt="" />
                                    <span class="touchbtn"></span>
                                </div>
                                <div class="dingimg ding_orgs">
                                    <img src="http://gtms01.alicdn.com/tps/i1/TB1.5F1KFXXXXaRXFXXlRS2RXXX-268-474.png" alt="" />
                                    <img src="http://gtms02.alicdn.com/tps/i2/TB1Fi09KFXXXXcCXpXXlRS2RXXX-268-474.png">
                                    <img src="http://gtms03.alicdn.com/tps/i3/TB1co_iKpXXXXc_XVXXLIffVVXX-640-1136.png" alt="" />
                                    <img src="http://gtms01.alicdn.com/tps/i1/TB1fvjGKpXXXXbzXXXXLIffVVXX-640-1136.png" alt="" />
                                    <img src="http://gtms02.alicdn.com/tps/i2/TB1bg_iKpXXXXXTaXXXLIffVVXX-640-1136.png" alt="" />
                                    <img src="http://gtms03.alicdn.com/tps/i3/TB1wdHgKpXXXXbbaXXXLIffVVXX-640-1136.png" alt="" />
                                    <img src="http://gtms04.alicdn.com/tps/i4/TB14hTuKpXXXXXxXFXXLIffVVXX-640-1136.png" alt="" />
                                    <span class="touchbtn"></span>
                                </div>
                                <div class="dingimg ding_tel">
                                    <img src="http://gtms01.alicdn.com/tps/i1/TB1per4KpXXXXXBXXXXLIffVVXX-640-1136.png" alt="" />
                                    <img src="http://gtms02.alicdn.com/tps/i2/TB1HxLFKpXXXXaqXVXX8Qq78FXX-750-1334.png" alt="" />
                                    <img src="http://gtms03.alicdn.com/tps/i3/TB1CFHVKpXXXXX9XpXX8Qq78FXX-750-1334.png" alt="" />
                                    <img src="http://gtms04.alicdn.com/tps/i4/TB1QKfZKpXXXXcxXXXX8Qq78FXX-750-1334.png" alt="" />
                                    <img src="http://gtms01.alicdn.com/tps/i1/TB1wA64KpXXXXXPXXXX8Qq78FXX-750-1334.png" alt="" />
                                    <span class="touchbtn"></span>
                                </div>
                                <div class="dingimg ding_im">
                                    <img src="https://img.alicdn.com/tps/TB1XyF3KFXXXXbtXVXXXXXXXXXX-268-474.png" alt="" />
                                    <img src="http://gtms02.alicdn.com/tps/i2/TB1YmOhKFXXXXasXXXXlRS2RXXX-268-474.png" alt="" />
                                    <img src="http://gtms03.alicdn.com/tps/i3/TB1pcOjKFXXXXamXXXXlRS2RXXX-268-474.png" alt="" />
                                    <img src="http://gtms04.alicdn.com/tps/i4/TB1FBF4KFXXXXaxXFXXlRS2RXXX-268-474.png" alt="" />
                                    <span class="touchbtn"></span>
                                </div>
                            </div>
                            <div class="function bottom">
                                <div class="dingimg ding_orgscontact">
                                    <img src="http://gtms03.alicdn.com/tps/i3/TB1NNrfKpXXXXa8aXXXLIffVVXX-640-1136.png" alt="" />
                                    <img src="http://gtms04.alicdn.com/tps/i4/TB154DuKpXXXXaKXFXX8Qq78FXX-750-1334.png" alt="" />
                                    <img src="http://gtms01.alicdn.com/tps/i1/TB1b0YiKpXXXXXmaXXX8Qq78FXX-750-1334.png" alt="" />
                                    <img src="http://gtms02.alicdn.com/tps/i2/TB1XfHdKpXXXXbEaXXX8Qq78FXX-750-1334.png" alt="" />
                                    <span class="touchbtn"></span>
                                </div>
                                <div class="dingimg ding_workapp">
                                    <img src="http://gtms02.alicdn.com/tps/i2/TB1zjjvKpXXXXcDaXXXLIffVVXX-640-1136.png">
                                    <img src="http://gtms03.alicdn.com/tps/i3/TB1Hnj0KpXXXXa2XXXX8Qq78FXX-750-1334.png" alt="" />
                                    <img src="http://gtms01.alicdn.com/tps/i1/TB12FHwKpXXXXbsaXXXLIffVVXX-640-1136.png" alt="" />
                                    <img src="http://gtms02.alicdn.com/tps/i2/TB1eIPQKpXXXXcJXpXXLIffVVXX-640-1136.png" alt="" />
                                    <img src="http://gtms03.alicdn.com/tps/i3/TB1xOPuKpXXXXXnapXXLIffVVXX-640-1136.png" alt="" />
                                    <img src="http://gtms04.alicdn.com/tps/i4/TB1DsjuKpXXXXXNapXXLIffVVXX-640-1136.png" alt="" />
                                    <img src="http://gtms01.alicdn.com/tps/i1/TB1e0nSKpXXXXbVXpXXLIffVVXX-640-1136.png" alt="" />
                                    <span class="touchbtn"></span>
                                </div>
                                <div class="dingimg ding_mail">
                                    <img src="http://gtms02.alicdn.com/tps/i2/TB1XHfNKpXXXXaAXFXXlRS2RXXX-268-474.png" alt="" />
                                    <img src="http://gtms03.alicdn.com/tps/i3/TB1OPnyKpXXXXaPaXXXlRS2RXXX-268-474.png" alt="" />
                                    <img src="http://gtms04.alicdn.com/tps/i4/TB16n_SKpXXXXbnXpXXlRS2RXXX-268-474.png" alt="" />
                                    <img src="http://gtms01.alicdn.com/tps/i1/TB1Sub5KpXXXXXvXXXXlRS2RXXX-268-474.png" alt="" />
                                    <img src="http://gtms02.alicdn.com/tps/i2/TB1fxzZKpXXXXcpXXXXlRS2RXXX-268-474.png" alt="" />
                                    <img src="http://gtms03.alicdn.com/tps/i3/TB1rlT0KpXXXXbqXXXXlRS2RXXX-268-474.png" alt="" />
                                    <img src="http://gtms04.alicdn.com/tps/i4/TB10vn3KpXXXXawXXXXlRS2RXXX-268-474.png" alt="" />
                                    <span class="touchbtn"></span>
                                </div>
                                <div class="dingimg ding_cloud">
                                    <img src="http://gtms01.alicdn.com/tps/i1/TB1AUjUKpXXXXX2XpXXLIffVVXX-640-1136.png" alt="" />
                                    <img src="http://gtms02.alicdn.com/tps/i2/TB1t.6RKpXXXXb6XpXX8Qq78FXX-750-1334.png" alt="" />
                                    <img src="http://gtms03.alicdn.com/tps/i3/TB1cUfDKpXXXXbyXVXX8Qq78FXX-750-1334.png" alt="" />
                                    <img src="http://gtms04.alicdn.com/tps/i4/TB1bYTuKpXXXXX5apXX8Qq78FXX-750-1334.png" alt="" />
                                    <span class="touchbtn"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5 right">
                        <div class="icon_box top">
                            <h2>高效沟通</h2>
                            <div class="ctn">
                                <div class="row">
                                    <div class="features col-xs-3">
                                        <h3><i class="iconfont icon-ding1"></i><i class="iconfont icon-ding iconCol"></i>
                                    </h3>
                                        <p class="title">DING</p>
                                    </div>
                                    <div class="features col-xs-3">
                                        <h3><i class="iconfont icon-qiyequn1"></i><i
                                            class="iconfont icon-qiyequn iconCol"></i></h3>
                                        <p class="title">企业群</p>
                                    </div>
                                    <div class="features col-xs-3">
                                        <h3><i class="iconfont icon-dianhuahuiyi1"></i><i
                                            class="iconfont icon-dianhuahuiyi iconCol"></i></h3>
                                        <p class="title">电话会议</p>
                                    </div>
                                    <div class="features col-xs-3">
                                        <h3><i class="iconfont icon-goutong1"></i><i
                                            class="iconfont icon-goutong iconCol"></i></h3>
                                        <p class="title">澡堂聊天</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="icon_box bottom">
                            <h2>办公协同</h2>
                            <div class="ctn">
                                <div class="row">
                                    <div class="features col-xs-3">
                                        <h3><i class="iconfont icon-tongxunlu1"></i><i
                                            class="iconfont icon-tongxunlu iconCol"></i></h3>
                                        <p class="title">企业通讯录</p>
                                    </div>
                                    <div class="features col-xs-3">
                                        <h3><i class="iconfont icon-gongzuo1"></i><i
                                            class="iconfont icon-gongzuo iconCol"></i></h3>
                                        <p class="title">工作应用</p>
                                    </div>
                                    <div class="features col-xs-3">
                                        <h3><i class="iconfont icon-dingyou1"></i><i
                                            class="iconfont icon-dingyou iconCol"></i></h3>
                                        <p class="title">钉邮</p>
                                    </div>
                                    <div class="features col-xs-3">
                                        <h3><i class="iconfont icon-dingpan1"></i><i
                                            class="iconfont icon-dingpan iconCol"></i></h3>
                                        <p class="title">钉盘</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="http://s.dingtalk.com/market/dingtalk/home/function_index.php?spm=a3140.7858860.1998832792.BOoQzm" target="_blank" class="btn btn-default"> 查看全部功能 </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section case_block" data-spm="1998832793">
            <div class="container">
                <h1 class="title">钉钉正在帮助开创未来的中国企业及组织</h1>
                <h3 class="subtitle">提升沟通协同效率，让工作更简单、高效、安全</h3>
                <div class="content">
                    <div class="cases">
                        <div class="piece">
                            <div class="case_group swiper-wrapper"></div>
                        </div>
                    </div>
                    <div class="swiper-button-next control casenext"></div>
                    <div class="swiper-button-prev control caseprev"></div>
                </div>
            </div>
        </div>
        <div class="section example_block">
            <div class="container">
                <h1 class="title">钉钉和共创企业一起成长</h1>
                <h3 class="subtitle">共创企业带给钉钉无限的信心和鼓励，陪伴钉钉一路向前</h3>
                <div class="content"></div>
                <div class="btnBox">
                    <a href="http://s.dingtalk.com/market/dingtalk/createenterprise.php?lwfrom=20151228220552795" target="_blank" class="btn btn-default">
                        加入钉钉共创企业计划
                    </a>
                </div>
            </div>
        </div>
        <div class="section movie_block" data-spm="1998832794">
            <div class="content">
                <div class="video_box">
                    <div class="video1 is_play">
                        <div class="content_box">
                            <div class="slogn">
                                跟钉钉一起
                                <br/> 走向移动办公时代
                            </div>
                            <div id="playerbtn"></div>
                        </div>
                        <div class="dv">
                            <video poster="http://gtms04.alicdn.com/tps/i4/TB1.lpWKpXXXXcwXVXXA9PyWVXX-1277-720.png" loop="" muted="true">
                                <source src="http://vodcdn.video.taobao.com/oss/ali-video/2b8b0b5f46a5a01145e3ae3e7fcaf08f/video.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <div class="video2 is_stop">
                        <span id="close_btn">×</span>
                        <div class="dv">
                            <video>
                                <source src="http://vodcdn.video.taobao.com/oss/ali-video/2b8b0b5f46a5a01145e3ae3e7fcaf08f/video.mp4" type="video/mp4" controls>
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section safety_block" data-spm="1998832795">
            <div class="container">
                <h1 class="title">钉钉传承了阿里巴巴集团十多年安全技术研究成果</h1>
                <h3 class="subtitle">上千位安全工程师为你保驾护航</h3>
                <div class="content">
                    <ul class="safety_group">
                        <li class="safety_list-1">
                            <a href="http://s.dingtalk.com/market/dingtalk/home/security.php#data" target="_blank">
                                <i class="iconfont icon-ring"></i>
                                <h3>数据加密</h3>
                                <p>客户端、服务端
                                    <br> 数据加密存储</p>
                            </a>
                        </li>
                        <li class="safety_list-2">
                            <a href="http://s.dingtalk.com/market/dingtalk/home/security.php#communication" target="_blank">
                                <i class="iconfont icon-ring"></i>
                                <h3>澡堂模式</h3>
                                <p>保障高端用户沟通安全</p>
                            </a>
                        </li>
                        <li class="safety_list-3">
                            <a href="http://s.dingtalk.com/market/dingtalk/home/security.php#communication" target="_blank">
                                <i class="iconfont icon-ring"></i>
                                <h3>锁屏密码</h3>
                                <p>后台唤醒，查看内容
                                    <br>密码验证保障隐私</p>
                            </a>
                        </li>
                        <li class="safety_list-4">
                            <a href="http://s.dingtalk.com/market/dingtalk/home/security.php#communication" target="_blank">
                                <i class="iconfont icon-ring"></i>
                                <h3>可信设备</h3>
                                <p>用户登录判断可信设备
                                    <br>保障账号安全</p>
                            </a>
                        </li>
                        <li class="safety_list-5">
                            <a href="http://s.dingtalk.com/market/dingtalk/home/security.php#privatechat" target="_blank">
                                <i class="iconfont icon-ring"></i>
                                <h3>通信安全</h3>
                                <p>多端信息内容，全程
                                    <br>加密传输保障信息安全</p>
                            </a>
                        </li>
                    </ul>
                    <div class="safety_list-6">
                        <a href="http://s.dingtalk.com/market/dingtalk/home/security.php?spm=a3140.7858860.1998832795.1.jI0kpI#password" target="_blank" class="btn btn-default">
                        查看钉钉安全白皮书
                    </a>
                    </div>
                    <img src="http://gtms04.alicdn.com/tps/i4/TB1UZ15KFXXXXawXFXXKmhgMpXX-820-516.gif" class="light" alt="">
                </div>
            </div>
        </div>
        <div id="download_block" class="section download_block" data-spm="1998832796">
            <div class="container">
                <h1 class="title text-center">下载钉钉，让企业进入高效移动办公时代</h1>
                <h3 class="subtitle text-center">多端同步，无缝沟通，随时随地，省时省心</h3>
                <div class="content">
                    <div class="down_box">
                        <div class="span2">
                            <a href="http://www.dingtalk.com/ios/d/" target="_blank" class="version ios_version">
                                <div><i class="icon ios_icon"></i></div>
                                <h3 class="title">iOS版</h3>
                                <p>点击到App Store下载或到</p>
                                <p>手机端App Store搜索“钉钉”</p>
                            </a>
                        </div>
                        <div class="span2">
                            <a href="http://www.dingtalk.com/android/d/" target="_blank" class="version android_version">
                                <div><i class="icon android_icon"></i></div>
                                <h3 class="title">Android版</h3>
                                <p>点击下载安装包到电脑或到</p>
                                <p>手机软件市场搜索“钉钉”</p>
                            </a>
                        </div>
                        <div class="span2">
                            <a class="version qrcode_version">
                                <span class="recommend"><!-- <i>推荐</i> --></span>
                                <div class="qrcode_box">
                                    <div class="qr-code" id="qr-code"></div>
                                </div>
                                <p>直接扫描二维码</p>
                                <p>下载手机客户端</p>
                            </a>
                        </div>
                        <div class="span2">
                            <a href="http://www.dingtalk.com/mac/d/" target="_blank" class="version MAC_version">
                                <div><i class="icon MAC_icon"></i></div>
                                <h3 class="title">Mac桌面版</h3>
                                <p>多端同步更便捷</p>
                                <p>支持7天自动登录</p>
                            </a>
                        </div>
                        <div class="span2">
                            <a href="http://www.dingtalk.com/win/d/" target="_blank" class="version windows_version">
                                <div><i class="icon windows_icon"></i></div>
                                <h3 class="title">Windows 桌面版</h3>
                                <p>多端同步更便捷</p>
                                <p>支持7天自动登录</p>
                            </a>
                        </div>
                    </div>
                    <!--    <div class="tel_box">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" id="tel_input" placeholder="输入手机号接收钉钉下载短信">
                        <span class="input-group-addon" id="getDownBtn">发送</span>
                    </div>
                </div> -->
                </div>
            </div>
        </div>
        <div class="section partner_block" data-spm="1998832797">
            <div class="container">
                <h1 class="title">钉钉生态合作伙伴</h1>
                <div class="content">
                    <div class="tab">
                        <div class="tab-body">
                            <div class="content body1">
                                <h3>
                                钉钉全新平台将红圈营销在垂直行业所积累的最佳实践惠及更多企业，让中国的企业管理移动起来，<br/>让销售简单起来。销售管理，沟通协同，一个红圈钉钉就够了。
                            </h3>
                                <p>商务合作：angle.lixy@alibaba-inc.com</p>
                            </div>
                            <div class="content body2 active">
                                <h3>
                                我们是深圳市蓝凌软件股份有限公司，与钉钉合作，将我们15年协同办公OA与知识管理KM的
                                <br/>最佳技术与实践，融入钉钉平台，共同为客户提供一个云+移动的智慧办公模式。
                            </h3>
                                <p>商务合作：angle.lixy@alibaba-inc.com</p>
                            </div>
                            <div class="content body3">
                                <h3>
                                钉钉平台创造的在线办公新模式，给 Tower 带来了海量的企业客户，同时，Tower 也能通过钉钉平台，<br/>为更多企业提供优秀的任务协作应用，提高企业的协作效率，帮助更多的企业成功。
                            </h3>
                                <p>商务合作：angle.lixy@alibaba-inc.com</p>
                            </div>
                            <div class="content body4">
                                <h3>
                                    江苏百旺金赋信息科技有限公司与钉钉移动办公平台战略合作，将税控服务从线下搬到线上。<br/>在发票归集、与工作流打通的层面，将与钉钉一起为用户打造一个完整的税控服务方式。
                            </h3>
                                <p>商务合作：angle.lixy@alibaba-inc.com</p>
                            </div>
                        </div>
                        <div class="tab-title">
                            <div class="col-xs-3">
                                <div class="mark">
                                    <span class="sliderbar"></span>
                                </div>
                                <img src="http://gtms01.alicdn.com/tps/i1/TB1V0BkKFXXXXanXXXX0BPOJpXX-240-66.png" alt="">
                            </div>
                            <div class="col-xs-3 active">
                                <div class="mark">
                                    <span class="sliderbar"></span>
                                </div>
                                <img src="http://gtms04.alicdn.com/tps/i4/TB1N3kQKpXXXXajaXXX0BPOJpXX-240-66.png" alt="">
                            </div>
                            <div class="col-xs-3">
                                <div class="mark">
                                    <span class="sliderbar"></span>
                                </div>
                                <img src="http://gtms03.alicdn.com/tps/i3/TB1xvJXKFXXXXb1XpXX0BPOJpXX-240-66.png" alt="">
                            </div>
                            <div class="col-xs-3">
                                <div class="mark">
                                    <span class="sliderbar"></span>
                                </div>
                                <img src="http://gtms02.alicdn.com/tps/i2/TB1J2J7LXXXXXaSXpXXX6I9_VXX-120-32.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="col-md-3">
                        <dl class="">
                            <dt>导航</dt>
                            <dd><a href="http://s.dingtalk.com/market/dingtalk/home/function_index.php" target="_blank">功能一览</a>
                            </dd>
                            <dd><a href="http://s.dingtalk.com/market/dingtalk/home/case_index.php" target="_blank">成功案例</a>
                            </dd>
                            <dd><a href="http://open.dingtalk.com/" target="_blank">开放平台</a></dd>
                        </dl>
                    </div>
                    <div class=" col-md-3">
                        <dl class="">
                            <dt>资讯</dt>
                            <dd><a href="http://s.dingtalk.com/market/dingtalk/dingding_service_v2.php?spm=0.0.0.0.VJqUqf" target="_blank">服务条款</a></dd>
                            <dd><a href="http://s.dingtalk.com/market/dingtalk/ddgypc.php?lwfrom=20151013214335169" target="_blank">钉钉公约</a>
                            </dd>
                            <dd><a href="http://s.dingtalk.com/market/dingtalk/home/news_index.php" target="_blank">钉钉动态</a>
                            </dd>
                            <dd><a href="http://tb.cn/6IBTptx" target="_blank">用户社区</a></dd>
                        </dl>
                    </div>
                    <div class="col-md-3">
                        <dl class="">
                            <dt>使用帮助</dt>
                            <dd><a href="http://s.dingtalk.com/market/dingtalk/dnkhdyd.php" target="_blank">
                            电脑客户端常见问题</a>
                            </dd>
                            <dd><a href="http://s.dingtalk.com/market/dingtalk/glymj.php" target="_blank">企业管理常见问题</a></dd>
                            <dd><a href="http://s.dingtalk.com/market/dingtalk/dqgl.php" target="_blank">钉钉教学操作指南</a></dd>
                        </dl>
                    </div>
                    <div class="col-md-3">
                        <dl class="">
                            <dt>资料下载</dt>
                            <dd>
                                <a href="https://static.dingtalk.com/media/lBDOAkHBts5cqB5XzhHv_9k.pdf?lwfrom=20151029172055998" target="_blank">管理员必看手册<i></i></a></dd>
                            <dd>
                                <a href="http://cloud.video.taobao.com/play/u/171001546/p/1/e/6/t/1/28664892.mp4?lwfrom=20150908114756566" target="_blank">钉钉产品教学视频<i></i></a></dd>
                            <dd>
                                <a href="https://static.dingtalk.com/media/lBDOAkHcBc4veD8nzhXNszU.pdf?lwfrom=20151029173139603" target="_blank">企业快速部署指南<i></i></a></dd>
                            <dd>
                                <a href="https://static.dingtalk.com/media/lA_OAkHekM4wlLfLzlVo0Xg.zip?lwfrom=20151029172246833" target="_blank">钉钉使用全攻略<i></i></a></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="ding_logo"></div>
                    <ul class="friend">
                        <li><a href="http://www.alibabagroup.com/cn/global/home?spm=a21bo.7724922.1997523009.1.C6eUGU" target="_blank">阿里巴巴集团</a> &nbsp;|&nbsp;</li>
                        <li><a href="http://www.taobao.com?spm=a21bo.7724922.1997523009.2.C6eUGU" target="_blank">淘宝网</a> &nbsp;|&nbsp;
                        </li>
                        <li><a href="http://www.tmall.com?spm=a21bo.7724922.1997523009.3.C6eUGU" target="_blank">天猫</a> &nbsp;|&nbsp;
                        </li>
                        <li><a href="http://ju.taobao.com?spm=a21bo.7724922.1997523009.4.C6eUGU" target="_blank">聚划算</a> &nbsp;|&nbsp;
                        </li>
                        <li><a href="http://www.aliexpress.com?spm=a21bo.7724922.1997523009.5.C6eUGU" target="_blank">全球速卖通</a> &nbsp;|&nbsp;</li>
                        <li><a href="http://www.alibaba.com/?spm=a21bo.7724922.1997523009.6.C6eUGU" target="_blank">阿里巴巴国际交易市场</a> &nbsp;|&nbsp;
                        </li>
                        <li><a href="http://www.1688.com?spm=a21bo.7724922.1997523009.7.C6eUGU" target="_blank">1688</a> &nbsp;|&nbsp;
                        </li>
                        <li><a href="http://www.alimama.com?spm=a21bo.7724922.1997523009.8.C6eUGU" target="_blank">阿里妈妈</a> &nbsp;|&nbsp;
                        </li>
                        <li><a href="http://www.alitrip.com?spm=a21bo.7724922.1997523009.9.C6eUGU" target="_blank">阿里旅行
                        ·去啊</a> &nbsp;|&nbsp;</li>
                        <li><a href="http://www.aliyun.com?spm=a21bo.7724922.1997523009.10.C6eUGU" target="_blank">阿里云计算</a> &nbsp;|&nbsp;
                        </li>
                        <li><a href="http://www.yunos.com?spm=a21bo.7724922.1997523009.11.C6eUGU" target="_blank">YunOS</a> &nbsp;|&nbsp;
                        </li>
                        <li><a href="http://wanwang.aliyun.com/" target="_blank">万网</a> &nbsp;|&nbsp;</li>
                        <li><a href="http://www.alipay.com" target="_blank">支付宝</a> &nbsp;|&nbsp;</li>
                        <li><a href="http://www.laiwang.com/?spm=a21bo.7724922.1997523009.21.C6eUGU" target="_blank">点点虫</a> &nbsp;|&nbsp;
                        </li>
                        <li>
                            <a href="http://www.dingtalk.com/?spm=a21bo.7724922.1997523009.22.C6eUGU&amp;lwfrom=20150130160830727" target="_blank">钉钉</a> &nbsp;|&nbsp;</li>
                        <li><a href="http://www.umeng.com/" target="_blank">友盟</a></li>
                    </ul>
                    <p class="ps1">阿里钉钉 © 2016 浙 B2-20080224-16</p>
                    <div class="col-xs-2 col-xs-offset-5">
                        <div class="row">
                            <div class="col-xs-4">
                                <a href="http://weibo.com/dingdingtalk?spm=0.0.0.0.LCQaNX&amp;sudaref=www.dingtalk.com" target="_blank" class="weibo">
                                    <img src="http://gtms04.alicdn.com/tps/i4/TB1cfmDKFXXXXXQXVXXkc7AGpXX-37-38.png"></a>
                            </div>
                            <div class="col-xs-4">
                                <a href="javascript:void(0);" class="weixin"><img src="http://gtms03.alicdn.com/tps/i3/TB1igKIKFXXXXbUXFXXkc7AGpXX-37-38.png"></a>
                                <img src="http://gtms01.alicdn.com/tps/i1/TB1_mDMJpXXXXcVXVXX80_zMpXX-153-214.png" class="VX" style="display: none;">
                            </div>
                            <div class="col-xs-4">
                                <a href="http://tb.cn/6IBTptx" target="_blank" class="weiv"><img src="http://gtms02.alicdn.com/tps/i2/TB1EVFvKFXXXXb1XFXXkc7AGpXX-37-38.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu" class="menu">
            <ul>
                <li>
                    <a class="active"><span></span></a>
                    <div class="tooltip">首屏</div>
                </li>
                <li>
                    <a class="active"><span></span></a>
                    <div class="tooltip">功能</div>
                </li>
                <li>
                    <a class=""><span></span></a>
                    <div class="tooltip">行业分类</div>
                </li>
                <li>
                    <a class=""><span></span></a>
                    <div class="tooltip">使用案例</div>
                </li>
                <li>
                    <a class=""><span></span></a>
                    <div class="tooltip">视频</div>
                </li>
                <li>
                    <a class=""><span></span></a>
                    <div class="tooltip">安全保障</div>
                </li>
                <li>
                    <a class=""><span></span></a>
                    <div class="tooltip">下载钉钉</div>
                </li>
                <li>
                    <a class=""><span></span></a>
                    <div class="tooltip">合作伙伴</div>
                </li>
            </ul>
        </div>
        <!--
        <div class="sideCode">
            <div id="code">
                <img src="http://gtms04.alicdn.com/tps/i4/TB1wljmKFXXXXXzaXXXd6Up1VXX-112-134.png" alt="">
            </div>
            <div class="weixinCode">
                <img src="http://gtms04.alicdn.com/tps/i4/TB1.I2YKFXXXXcOXXXXrz.wUFXX-310-400.png" alt="">
                <div class="side_box">
                    <div id="side_code"></div>
                </div>
            </div>
        </div>
        -->
        <div class="sideCode">
            <div id="code">
                <img src="http://gtms03.alicdn.com/tps/i3/TB1hIpjKVXXXXanXFXXd6Up1VXX-112-134.png" alt="">
            </div>
        </div>
        <div id="modal_box"></div>
    </div>
    <script src="http://g.alicdn.com/ilw/cdnjs/jquery/1.8.3/jquery.min.js?spm=0.0.0.0.j8UxlW&file=jquery.min.js"></script>
    <!--  <script src="http://g-assets.daily.taobao.net/dingding/home-resources/0.1.4/index.js"></script>-->
    <script src="http://g.alicdn.com/dingding/home-resources/0.1.4/index.js"></script>
    <script id="tb-af-af" type="text/javascript" src="http://cdn.tanx.com/t/m/af_v1.js"></script>
</body>

</html>
